.player_list {
    width: 100%;
    li {
        min-height: 94px;
        padding: 0;
        box-sizing: border-box;
        padding: 5% 0;
        border-bottom: 1px solid rgba(#c8d1f4, .07);
        &:first-child {
            border-top: 1px solid rgba(#c8d1f4, .07);
        }
        &.active {
            background-color: rgba(#154d61, .16);
        }
        .player_on_off {
            max-width: 5%;
            width: 100%;
            text-align: center;
            float: left;
            height: 100%;
            line-height: 300%;
            display: inline-block;
            span {
                display: inline-block;
                width: 5px;
                height: 5px;
                @include border-radius(50%);
                @include background-clip(padding-box);
                background-color: #3fe5c7;
                &.offline {
                    background-color: transparent;
                }
            }
        }
        .player_avatar {
            max-width: 50px;
            width: 100%;
            float: left;
            img {
                max-width: 50px;
                @include border-radius(50%);
            }
        }

        .player_status {
            width: 79%;
            float: left;
            display: inline-block;
            height: 100%;
            box-sizing: border-box;
            padding-left: 5%;
            .player_name {
                display: block;
                width: 100%;
                font-size: 14px;
                color: $white;
                letter-spacing: 0.025em;
                font-family: $lmedium;
            }
        }
        .player_round {
            max-width: 25%;
            width: 100%;
            float: left;
            p {
                &:first-child {
                    color: $text_green;
                    font-size: 8px;
                    font-family: $lmedium;
                    letter-spacing: 0.25em;
                    line-height: 24px;
                    text-transform: uppercase;
                }
                &:last-child {
                    font-size: 12px;
                    color: $white;
                    font-family: $lmedium;
                    letter-spacing: 0.018em;
                }
            }
        }
        .player_score {
            @extend .player_round;
            padding: 0 10%;
        }
        .player_state {
            @extend .player_round;
            p:first-child {
                color: #43efcd;
            }
        }
        &.wait .player_state p:first-child {
            color: $text_orange;
        }
    }
}
#inactive_game .player_list,
.frendsRequestSection {
    li {
        padding-left: 5%;
        .player_count {
            max-width: 25%;
            width: 100%;
            float: left;
            p {
                color: $text_green;
                font-family: $lmedium;
                text-transform: uppercase;
                &:first-child {
                    line-height: 24px;
                    font-size: 8px;
                    letter-spacing: 0.25em;
                }
                &:last-child {
                    font-size: 12px;
                    letter-spacing: 0.07em;
                }
            }
        }
        .player_invite {
            display: inline-block;
            float: right;
            max-width: 60%;
            width: 100%;
            padding: 3% 0;
            text-align: right;
            .btn-invite_yes {
                margin-right: 20%;
            }
        }
    }
}
