#anotherProfile {
	#anotherFriendObshee {
		.profile {
			padding: 0 9.38%;
			width: 100%;
			box-sizing: border-box;
			display: inline-block;
			text-align: center;
			.profile_balls {
				float: left;
				padding-top: 5px;
				width: 33%;
				p {
					font-family: $lmedium;
					&:first-child {
						color: $white;
						font-size: 22px;
						letter-spacing: 0.02em;
						padding-top: 17px;
						padding-bottom: 8px;
					}
					&:last-child {
						color: #93cdd3;
						font-size: 8px;
						letter-spacing: 0.3em;
						text-transform: uppercase;
					}
				}
			}
			.profile_avatar {
				float: left;
				width: 33%;
				text-align: center;
				position: relative;
				img {
					max-width: 90px;
					height: auto;
					width: 100%;
					border: 1px solid rgba(#ebc17e, 1);
					@include border-radius(50%);
					padding: 3px;
					box-sizing: border-box;
				}
			}
			.profile_balans {
				padding-top: 5px;
				float: left;
				width: 33%;
				p {
					font-family: $lmedium;
					&:first-child {
						color: #43efcd;
						font-size: 16px;
						letter-spacing: 0.02em;
						padding-top: 17px;
						padding-bottom: 12px;
						i {

						}
					}
					&:last-child {
						color: #93cdd3;
						font-size: 8px;
						letter-spacing: 0.3em;
						text-transform: uppercase;
					}
				}
			}
		}
		.profile_fio {
			width: 100%;
			text-align: center;
			p {
				&.profile_name  {
					font-family: $lsemi;
					font-size: 16px;
					color: $white;
					letter-spacing: 0.025em;
				}
				&.profile_status {
					color: #ebc17e;
					font-size: 14px;
					padding-top: 12px;
					font-family: $lregular;
					letter-spacing: 0.025em;
				}
			}
		}
		.profile_statistic {
			width: 100%;
			padding: 35px 6.25% 25px;
			box-sizing: border-box;
			display: inline-block;
			border-bottom: 1px solid rgba(#c9d2f4, .07);
			li {
				display: inline-block;
				float: left;
				width: 33%;
				text-align: center;
				p {
					font-family: $lmedium;
					&:first-child {
						color: $white;
						font-size: 25px;
						letter-spacing: 0.02em;
						padding-bottom: 8px;
					}
					&:last-child {
						color: #93cdd3;
						font-size: 9px;
						letter-spacing: 0.3em;
						text-transform: uppercase;
					}
				}
			}
		}
		.addOrRevenge {
			width: 100%;
			box-sizing: border-box;
			padding: 32px 9.38% 0px;
			display: inline-block;
			li {
				width: 50%;
				float: left;
				text-align: center;
				display: inline-block;
				box-sizing: border-box;
				&:first-child {
					border-right: 1px solid rgba(#c9d2f4,.07);
				}
				a {
					display: inline-block;
					text-decoration: none;
					width: 100%;
					i {
						position: relative;
						font-size: 32px;
						&.icon-uEA86-cup {
							color: #43efcd;
						}
						&.icon-uEA87-help {
							color: #f3c358;
						}
						sub {
							position: absolute;
							top: -10px;
							right: -20px;
							font-size: 14px;
							letter-spacing: 0.02em;
							font-family: $lmedium;
						}
					}
					p {
						font-family: $lmedium;
						letter-spacing: 0.244em;
						font-size: 10px;
						color: #93cdd3;
						padding-top: 15px;
						text-transform: uppercase;
					}
				}
			}
			&.addOrRevengeFriedns {
				padding: 32px 6.25% 0px;
				li {
					width: 33% !important;
					&:first-child {
						border: none;
					}
					a {

						i {
							color: #93cdd3;
						}
					}
					&:nth-child(2) {
						a p,
						a i {
							color: #f3c358!important;
						}
					}
				}
			}
		}
	}
}