#friends_request {
    .globalNav ul li {
        a,
        span {
            color: #93cdd3;
        }
    }
    .frendsRequestSection {
        ul li {
            padding-top: 10px;
            padding-bottom: 10px;
            min-height: inherit;
            width: 100%;
            display: inline-block;
            .player_count {
                max-width: 50%;
                padding-top: 10px;
                color: #43efcd;
            }
        }
        .player_invite {
            text-align: right;
            max-width: 40%;
            padding-top: 0;
        }
    }
}
