#friends {
	@include background-image(linear-gradient(70deg, #0b232f -28.97%, #0c2e40 42.79%, #13616b 109.03%));
	.profileFriends {
		padding: 10px 3.13%;
		li {
			box-sizing: border-box;
			width: 50%;
			text-align: center;
			float: left;
			min-height: 180px;
			padding: 0 10%;
			&:nth-child(odd) {
				border-right: 1px solid rgba(#c9d2f4, .07);
				border-bottom: 1px solid rgba(#c9d2f4, .07);
			}
			&:nth-child(even) {
				border-bottom: 1px solid rgba(#c9d2f4, .07);
			}
			div.player_avatar {
				display: inline-block;
				border: 1px solid #648a99;
				margin-top: 10px;
				height: 50px;
				width: 50px;
				@include border-radius(50%);
			}
			div.player_name {
				font-family: $lmedium;
				color: $white;
				font-size: 12px;
				padding-top: 16px;
				padding-bottom: 9px;
				letter-spacing: 0.018em;
			}
			div.player_score {
				font-family: $lmedium;
				color: #93cdd3;
				font-size: 10px;
				letter-spacing: 0.018em;
				margin-bottom: 17px;
			}
			a {
				text-decoration: none;
				i {
					font-size: 24px;
				}
				&.player_swords {
					float: left;
					i {
						color: #deb555;
					}
				}
				&.player_comments {
					float: right;
					i {
						color: #93cdd3;
					}
				}
			}
		}
	}
}

ul.friendsTabs{
	margin: 0px;
	padding: 20px 6.25% 0;
	list-style: none;
	height: 60px;
	box-sizing: border-box;
	width: 100%;
	li{
		display: inline-block;
		cursor: pointer;
		width: 33%;
		text-align: center;
		span {
			font-size: 12px;
			letter-spacing: 0.12em;
			color: #93cdd3;
			font-family: $lregular;
			text-transform: uppercase;
		}
		&.current span {
			color: $white;
			font-family: $lbold;
		}
	}
}
.tab-content{
	display: none;
	&.current{
		display: inherit;
	}
}
