.gameScreenActiveMainScore {
	min-height: 130px;
	padding: 15px 20px;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	float: left;
	.player {
		width: 32.14%;
		display: inline-block;
		float: left;
		text-align: center;
		img {
			min-width: 58px;
		}
		h3.player_name {
			font-size: 12px;
			font-family: $lmedium;
			color: $white;
			letter-spacing: 0.025em;
			line-height: 32px;
			white-space: nowrap;
		}
		.playerStatus {
			font-size: 11px;
			letter-spacing: 0.025em;
			color: #40e6c7;
			font-family: $lregular;
		}

	}
	.playerScore {
		width: 35.71%;
		display: inline-block;
		float: left;
		text-align: center;
		color: $white;
		font-size: 16px;
		letter-spacing: 0.08em;
		font-family: $lsemi;
		padding-top: 23px;
	}
}