#question_category {}

.questionCategoryList {
    ul {
        li {
            border-top: 1px solid #21706e;
            border-bottom: 1px solid #1e6363;
			position: relative;
			display: inline-block;
			float: left;
			width: 100%;
            input[type=radio] {
                position: absolute;
                visibility: hidden;
            }
            label {
            	display: table;
            	width: 100%;
            	.questionCategoryLeft {
    	        	width: 81.15%;
    	        	display: table-cell;
	            	// float: left;
            	}
            	.check {
            		width: 100% - 81.15%;
            		// float: left;
            		display: table-cell;
            		&:before {
            			color: #92cdd2;
            		}
            	}
            }

			h3 {
				color: $white;
				font-size: 13px;
				letter-spacing: 0.025em;
				line-height: 13px;
				padding-bottom: 17px;
				font-family: $lmedium;
			}
			p {
				color: #93cdd3;
				font-family: $lregular;
				font-size: 10px;
				letter-spacing: 0.025em;
				line-height: 18px;
				span {
					display: block;
					color: #3e8592;
				}
			}
			.ui-radio-on,
			.ui-radio-off {
            	min-height: 87px;
            	float: left;
				width: 100%;
				padding: 23px 9.38%;
				box-sizing: border-box;
				.check {
					text-align: center;
					position: relative;
					height: 100%;
					&:before {
						position: absolute;
						top: 50%;
						margin-top: -20px;
					}
				}
			}
            .ui-radio-on {
            	background-color: rgba(#40e6c7, 0.1);
            	.check {
            		&:before {
            			content: '\e9a0';
            			font-family: 'icomoon';
            			font-size: 30px;
            		}
            	}
            	h3 {
            		color: #40e6c7;
            	}
            	p {
            		color: $white;
            		span {
						color: #93cdd3;
            		}
            	}
            }
            .ui-radio-off {
            	.check {
            		&:before {
            			content: '\e97d';
            			font-family: 'icomoon';
            			font-size: 30px;
            		}
            	}
            }
        }
    }
}