//Global class
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-justify {text-align: justify;}
.clear {clear: both;}
.dn {display: none !important;}
.pull-left {float: left !important;}
.pull-right {float: right !important;}
//Input placeholder
input[type="text"] {
  @include input-placeholder {
    color: $placeholder;
  }
}
//Input placeholder off
#loginPage,
#registrationPage,
#guestPage {
  background-color: $blue;
}
.list-unstyled {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
//Login form
#login_form,
#registration_form {
  padding-top: 34px;
  .input-group {
    margin-bottom: 35px;
  }
}

//Fancy
.fancy {
  line-height: 0.5;
  text-align: center;
  span {
    display: inline-block;
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 5px;
      border-bottom: 1px solid rgba(#e9eff2, 0.1);
      top: -3px;
      width: 600px;
    }
    &:before {
      right: 100%;
      margin-right: 15px;
    }
    &:after {
      left: 100%;
      margin-left: 15px;
    }
  }
}
