.btn {
    display: inline-block;
    text-decoration: none;
    font-family: $lbold;
}
.btn-link {
  border: none;
  text-transform: uppercase;
  background-color: transparent;
}
.btn-enter {
  float: left;
  color: $white;
  text-decoration: none;
}
.btn-registration {
  @extend .btn-enter;
  float: right;
}
.btn-full {
    width: 100%;
    @include border-radius(2px);
    min-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    line-height: 48px;
    letter-spacing: 0.25em;
    margin: 11px 0;
}
.btn-vk {
    background-color: $vk;
    position: relative;
    font-size: 11px;
    text-align: left;
    &:before {
      float: left;
      padding:0 15%;
      font-size: 20px;
      font-family: 'icomoon';
      content: '\e927';
    }
}
.btn-fb {
    background-color: $fb;
    @extend .btn-vk;
    &:before {
      content: '\e911';
    }
}
.btn-guest {
  background-color: transparent;
  color: $light_green;
  border: 1px solid $light_green;
  box-sizing: border-box;
  @extend .btn-vk;
  &:before {
    content: '\e912';
  }
}
.btn-login {
  background-color: #11455d;
  @include background-image(linear-gradient(50deg, #1b8993 -15%, #0dafa9 115%));
  cursor: pointer;
}

.btn-sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  margin: 0;
  border: none;
  min-height: 10%;
  @include border-radius(0);
}
.btn-invite_yes {
  color: $white;
  @include border-radius(50%);
  font-size: 23px;
}
.btn-invite_cancel {
  @extend .btn-invite_yes;
}
