#game_final_result_victory {
	@include background-image(linear-gradient(bottom, #033142 21.68%, #149c94 121.68%));
	.navbar ul.navbar-center span {
		color: #92f4de;
	}
	.gameScreenActiveMainScore {
		.gameStatus {
			font-size: 9px;
			text-transform: uppercase;
			letter-spacing: 0.25em;
			font-family: $lbold;
			padding-bottom: 8px;
			color: #40e6c7;
		}
		.player h3.player_name {
			white-space: nowrap;;
		}
		.addOrRevenge {

		}
	}
	.gameResult {
		padding: 30px 9.38% 32px;
		display: inline-block;
		width: 100%;
		float: left;
		box-sizing: border-box;
		li {
			display: inline-block;
			width: 33%;
			float: left;
			p {
				color: #ace3e9;
				font-size: 8px;
				letter-spacing: 0.25em;
				text-transform: uppercase;
				font-family: $lmedium;
				line-height: 21px;
			}
			span {
				color: $white;
				font-family: $lmedium;
				font-size: 12px;
				i {
					position: relative;
					top: 2px;
					margin-left: 2px;
					font-size: 14px;
				}
			}
			&:first-child {
				span,
				span i {
					color: #f1d273;
				}
			}
			&:nth-child(2) {
				text-align: center;
				span,
				span i {
					color: #40e6c7;
				}
			}
			&:last-child {
				text-align: right;
				span {
					position: relative;
					 i:after {
						content: '';
						position: absolute;
						right: -9px;
						top: 3px;
						width: 0;
						height: 0;
						border-left: 3px solid transparent;
						border-right: 3px solid transparent;
						border-bottom: 4px solid #40e6c7;
					}
				}
			}
		}
	}
	.gameGlobalResult {
		padding: 29px 6.25%;
		width: 100%;
		float: left;
		background-color: rgba(#07273f, 0.2);
		box-sizing: border-box;
		li {
			display: inline-block;
			float: left;
			padding: 0 6.25%;
			width: 6.25%;
			text-align: center;
			i {
				font-size: 21px;
			}
			p {
				font-size: 11px;
				line-height: 15px;
				letter-spacing: 0.025em;
				font-family: $lmedium;
				padding-top: 3px;
			}
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
			&.gameGlobalResultVictory {
				i,
				p {
					color: #f1d273;
				}
			}
			&.gameGlobalResultRandon {
				i,
				p {
					color: #46f8af;
				}
			}
			&.gameGlobalResultQuicl {
				i,
				p {
					color: #55f2fc;
				}
			}
			&.gameGlobalResultBlock {
				i,
				p {
					color: #a7c4f9;
				}
			}
			&.gameGlobalResultEvery {
				i,
				p {
					color: #ff8976;
				}
			}
			&.gameGlobalResultBig {
				i,
				p {
					color: #d7a8ff;
				}
			}
		}
	}
	.addOrRevenge {
		display: inline-block;
		width: 100%;
		padding: 26px 0;
		float: left;
		li {
			float: left;
			width: 50%;
			text-align: center;
			position: relative;
			a {
				display: inline-block;
				text-decoration: none;
				i {
					font-size: 32px;
					color: #ace3e9;
				}
				p {
					margin-top: 16px;
					font-size: 9px;
					font-family: $lbold;
					color: #ace3e9;
					letter-spacing: 0.244em;
					text-transform: uppercase;
				}
			}
			&:last-child {
				i,
				p {
					color: #f3c358;
				}
				&:before {
					content: '';
					display: inline-block;
					position: absolute;
					top: 0;
					left: 0;
					width: 1px;
					height: 55px;
					background-color: rgba(#c9d1f3, .07);
				}
			}
		}
	}
	&.game_final_result_victory {
		@include background-image(linear-gradient(bottom, #033142 21.68%, #149c94 121.68%));
		.navbar ul.navbar-center li span {
			color: #92f4de;
		}
	}
	.btn-close {
		border: none;
		@include background-image(linear-gradient(bottom, #1c938a 0%, #299d91 100%));
		@include border-radius(2px);
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.25em;
		line-height: 51px;
		font-size: 11px;
		font-family: $lbold;
		color: $white;
		width: 100%;
	}
	.modal {
		.modal-content {
			@include background-image(linear-gradient(bottom, #1f6563 0%, #477979 100%));
			overflow: hidden;
			text-align: center;
			h3.fancy span {
				color: #b0cdcd;
				font-size: 8px;
				font-family: $lsemi;
				letter-spacing: 0.25em;
				text-transform: uppercase;
			}
			i {
				font-size: 55px;
				color: #f1d273;
			}
			p {
				padding: 30px 0;
				font-size: 11px;
				line-height: 19.5px;
				font-family: $lmedium;
				color: $white;
				letter-spacing: 0.025em;
				span {
					color: #f1d273;
				}
			}
		}
	}
}
#game_final_result_draw {
	@extend #game_final_result_victory;
	@include background-image(linear-gradient(70deg, #0b232f -28.97%, #0c2e40 42.79%, #13616b 109.03%)!important);
}
#game_final_result_loss {
	@extend #game_final_result_victory;
	@include background-image(linear-gradient(70deg, #9a1e2f 3.42%, #be573f 103.42%));
	.navbar ul {
		&.navbar-center span {
			color: #f3c6be;
		}
		i {
			color: #f3c5bd;
		}
	}
	.gameScreenActiveMainScore {
		.gameStatus {
			color: $white;
		}
		.playerStatus {
			color: #f1d273;
		}
	}
	.gameResult {
		li {
			p {
				color: #f3c6be;
			}
			&:nth-child(2) {
				span{
					color: $white;
				}
			}
			&:last-child {
				text-align: right;
				span i:after {
					border-top: 4px solid #fb4d69;
					border-bottom: none;
				}
			}
		}
	}
	.addOrRevenge li:first-child {
		i,
		p {
			color: #f3c6be;
		}
	}
	#game_final_result_draw_loss_modal .modal-content {
		@include background-image(linear-gradient(bottom, #88242d 0%, #953b3b 100%));
		.btn-close {
			@include background-image(linear-gradient(bottom, #b53e4a 0%, #df4a58 100%));
		}
	}
}