.gameScreenActiveMainRounds {
	width: 100%;
	display: inline-block;
	float: left;
	li {
		width: 100%;
		float: left;
		&:nth-child(odd) {
			background-color: rgba(#154e61, .16);
		}
		div {
			display: inline-block;
			float: left;
			min-height: 10px;
			min-height: 53px;
			text-align: center;
			.roundInfo {
				position: relative;
				display: inline-block;
				width: 13px;
				height: 13px;
				@include border-radius(50%);
				margin: 20px 8px 0;
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					margin-right: 0;
				}
				&:before {
					content: '';
					display: inline-block;
					position: absolute;
					top: -3px;
					left: -3px;
					border: 1px solid rgba(#51828e, .4);
					@include border-radius(50%);
					width: 16px;
					height: 16px;
				}
				&.roundVictory {
					background-color: #40e6c7;
				}
				&.roundDefeat {
					background-color: #fc4d6a;
				}
			}
			&:first-child {
				margin-left: 7.81%;
				width: 25%;
			}
			&:last-child {
				margin-right: 7.81%;
				width: 25%;
			}
			&:nth-child(2) {
				width: 100% - 25% - 25% - 7.81% - 7.81%;
				p {
					font-family: $lsemi;
					color: $white;
					text-transform: uppercase;
					font-size: 8px;
					line-height: 53px;
				}
			}
			.btn_hidden {
				margin-top: 17px;
				text-align: center;
				display: inline-block;
				color: $white;
				font-size: 8px;
				font-family: $lsemi;
				min-width: 91px;
				text-transform: uppercase;
				@include border-radius(9px);
				padding: 6px 0;
				border: 1px solid rgba(#547f8a, .4);

			}
		}
	}
}
#game_screen_wait .btn_hidden {
	color: #F3C358;
}
