#search_rival {
	background-color: #0f2937;
	.globalNav .navbar-center span {
		color: #93cdd3;
	}
	form.search_form {
		position: relative;
		background-color: rgba(#457ba5, .12);
		padding: 18px 12.5%;
		box-sizing: border-box;
		display: inline-block;
		margin-bottom: 45px;
		width: 100%;
		button {
			float: left;
			border: none;
			background: none;
			i {
				font-size: 20px;
				color: #93cdd3;
			}
		}
		.ui-input-search {
			float: left;
			input {
				padding-left: 20px;
				color: #93cdd3;
				border: none;
				background: transparent;
				height: 100%;
				width: 100%;
				letter-spacing: 0.018em;
				font-size: 14px;
				font-family: $lregular;
				&:focus {
					outline: none;
				}
			}
		}
		.ui-input-clear {
			display: none;
		}
		.searchResultCount {
			position: absolute;
			bottom: -45px;
			left: 6.25%;
			height: 45px;
			width: 100% - 6.25%;
			p {
				letter-spacing: 0.122em;
				font-size: 9px;
				color: #3e8592;
				font-family: $lsemi;
				line-height: 45px;
			}
		}
	}
	.searchResult {

		li {
			height: 70px;
			width: 100%;
			box-sizing: border-box;
			padding: 18px 6.25% 19px;
			border-top: 1px solid rgba(#c9d1f3, .07);
			&:last-child {
				border-bottom: 1px solid rgba(#c9d1f3, .07);
			}
			.searchUser {
				width: 62.5%;
				float: left;
				p {
					font-family: $lmedium;
					&.searchUserName {
						font-size: 15px;
						letter-spacing: 0.025em;
						color: $white;
						line-height: 15px;
						padding-bottom: 11px;
					}
					&.searchUserScore {
						font-size: 10px;
						letter-spacing: 0.018em;
						color: #3e8592;
						line-height: 10px;
					}
				}
			}
			.searchUserButtons {
				width: 100% - 62.5%;
				float: left;
				text-align: right;
				a {
					text-decoration: none;
					float: right;
					i {
						font-size: 24px;
						margin: 5px 0;
					}
					&:last-child {
						margin-right: 32px;
						i {
							color: #93cdd3;
						}
					}
					&:first-child {
						i {
							color: #3c828f;
						}
					}
				}
			}
		}
	}
}