#subject {
	background-color: #0f2937
}
.subjectList {
	display: inline-block;
	width: 100%;
	height: 100%;
	ul {
		text-align: center;
		width: 100%;
		height: 100%;
		float: left;
		display:table-row;
		li {
			width: 50%;
			box-sizing: border-box;
			float: left;
			display:inline-block;
			height: 33%;
		    &:nth-child(odd) {
		    	border-right: 1px solid rgba(201,210,244,0.07);
		    	border-bottom: 1px solid rgba(201,210,244,0.07);
		    }
		    &:nth-child(even) {
		    	border-bottom: 1px solid rgba(201,210,244,0.07);
		    }
			a {
				width: 100%;
				display: inline-block;
				text-decoration: none;
				i {
					color: #93cdd3;
					font-size: 43px;
				}
				p {
					text-transform: uppercase;
					padding-top: 17px;
					letter-spacing: 0.244em;
					color: $white;
					font-size: 9px;
					line-height: 15px;
				}
			}
		}
	}
}
.subjectScroll {
	position: fixed;
	bottom: 20px;
	text-align: center;
	width: 100%;
	a {
		display: inline-block;
		text-decoration: none;
		i {
			font-size: 12px;
			color: #3e8592;
		}
	}
}