#game_complete .player_list {
    li {
        padding-left: 5%;
        .player_status {

            .player_victory {
                max-width: 25%;
                width: 100%;
                float: left;
                padding: 0 10%;
                p {
                    color: $light_green;
                    font-family: $lmedium;
                    &:first-child {
                        line-height: 24px;
                        text-transform: uppercase;
                        font-size: 8px;
                        letter-spacing: 0.25em;
                    }
                    &:last-child {
                        font-size: 12px;
                        letter-spacing: 0.018em;
                    }
                }
            }
            .player_draw {
                @extend .player_victory;
                p {
                    color: $text_orange;
                }
            }
            .player_loss {
                @extend .player_victory;
                p {
                    color: $light_red;
                }
            }
            .player_score {
                padding: 0;
                &.ps_victory p:last-child,
                &.ps_loss p:last-child,
                &.ps_draw p:last-child {
                    position: relative;
                    display: inline-block;
                    &:after {
                        content: '';
                        position: absolute;
                        right: -11px;
                        top: 2px;
                        width: 0;
                        height: 0;
                        border-left: 3px solid transparent;
                        border-right: 3px solid transparent;
                        border-bottom: 4px solid $light_green;
                    }
                }
                &.ps_draw p:last-child:after {
                    border-bottom: 4px solid $text_orange;
                }
                &.ps_loss p:last-child:after {
                    border-top: 4px solid $light_red;
                    border-bottom: none;
                }
            }
        }
    }
}
