.gameScreenActiveFooter {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 55px;
	overflow: hidden;
	.ui-navbar {
		height: 100%;
	}
	ul {
		text-align: center;
		width: 100%;
		height: 100%;
		display: inline-block;
		box-sizing: border-box;
		background-color: #0c2938;
		border-top: 1px solid rgba(#c9d2f4, 0.1);
		li {
			float: left;
			display: inline-block;
			width: 100% - 18.75% - 18.75%;
			height: 100%;
			&:first-child,
			&:last-child {
				width: 18.75%;
			}
			&:nth-child(2) {
				box-sizing: border-box;
				background-color: #0d2d3f;
				border-left: 1px solid rgba(#c9d2f4, 0.1);
				border-right: 1px solid rgba(#c9d2f4, 0.1);
				position: relative;
				&:before {
					content: '';
					position: absolute;
					width: 95.96%;
					left: 2.02%;
					height: 1px;
					top: 0;
					display: inline-block;
					background: -moz-linear-gradient(left,  rgba(48,139,133,0) 0%, rgba(48,139,133,1) 40%, rgba(48,139,133,1) 50%, rgba(48,139,133,1) 51%, rgba(48,139,133,1) 60%, rgba(48,139,133,0) 100%);
					background: -webkit-linear-gradient(left,  rgba(48,139,133,0) 0%,rgba(48,139,133,1) 40%,rgba(48,139,133,1) 50%,rgba(48,139,133,1) 51%,rgba(48,139,133,1) 60%,rgba(48,139,133,0) 100%);
					background: linear-gradient(to right,  rgba(48,139,133,0) 0%,rgba(48,139,133,1) 40%,rgba(48,139,133,1) 50%,rgba(48,139,133,1) 51%,rgba(48,139,133,1) 60%,rgba(48,139,133,0) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00308b85', endColorstr='#00308b85',GradientType=1 );

				}
				a {
					padding-top: 0;
					span {
						padding-top: 30.91%;
					}
				}
			}
			a {
				display: inline-block;
				width: 100%;
				height: 100%;
				float: left;
				padding-top: 18px;
				box-sizing: border-box;
				text-decoration: none;
				span {
					color: #3fe5c7;
					font-family: $lbold;
					font-size: 12px;
					text-transform: uppercase;
				}
				i {
					&.icon-minus {
						display: inline-block;
						width: 20px;
						height: 20px;
						box-sizing: border-box;
						line-height: 12px;
						color: #fb4d69;
						@include border-radius(50%);
						border: 1px solid #fb4d69;
					}
					&.icon-uEA36-add_friend {
						color: #92ccd2;
						font-size: 20px;
					}
				}
			}
		}
	}
}
#game_screen_completes .gameScreenActiveFooter ul li {
	width: 50% !important;
	&:first-child a span {
		color: $white;
	}
	a {
		line-height: 50px !important;
		padding: 0;
		font-family: $lsemi;
		color: $white;
		font-size: 9px;
		text-transform: uppercase;
		span {
			padding: 0 18px;
		}
		i {
			font-size: 20px;
			position: relative;
			top: 5px;
		}
	}
}
#game_screen_wait .gameScreenActiveFooter ul li:nth-child(2) a span {
	color: #F3C358;
}
