#profile {
	@include background-image(radial-gradient(center 33%, 442px 442px, #13616b 0%, #0c2e40 48%, #0b232f 100%));
	#overall {
		.profile {
			padding: 0 9.38%;
			width: 100%;
			box-sizing: border-box;
			display: inline-block;
			text-align: center;
			.profile_balls {
				float: left;
				width: 33%;
				p {
					font-family: $lmedium;
					&:first-child {
						color: $white;
						font-size: 22px;
						letter-spacing: 0.02em;
						padding-top: 17px;
						padding-bottom: 8px;
					}
					&:last-child {
						color: #93cdd3;
						font-size: 8px;
						letter-spacing: 0.3em;
						text-transform: uppercase;
					}
				}
			}
			.profile_avatar {
				float: left;
				width: 33%;
				text-align: center;
				position: relative;
				// &:before {
				// 	content: '';
				// 	width: 100%;
				// 	height: 100%;
				// 	display: inline-block;
				// 	position: absolute;
				// 	top: 0;
				// 	left: 0;
				// 	border: 1px solid #49ba91;
				// 	@include border-radius(50%);
				// }
				img {
					max-width: 90px;
					height: auto;
					width: 100%;
					border: 1px solid rgba(#8cc7cd, .26);
					@include border-radius(50%);
					padding: 3px;
					box-sizing: border-box;
				}
			}
			.profile_balans {
				float: left;
				width: 33%;
				p {
					font-family: $lmedium;
					&:first-child {
						color: #f1d273;
						font-size: 16px;
						letter-spacing: 0.02em;
						padding-top: 17px;
						padding-bottom: 8px;
						i {

						}
					}
					&:last-child {
						color: #93cdd3;
						font-size: 8px;
						letter-spacing: 0.3em;
						text-transform: uppercase;
					}
				}
			}
		}
		.profile_fio {
			width: 100%;
			text-align: center;
			p {
				&.profile_name  {
					font-family: $lsemi;
					font-size: 16px;
					color: $white;
					letter-spacing: 0.025em;
				}
				&.profile_status {
					color: #43efcd;
					font-size: 14px;
					padding-top: 12px;
					font-family: $lregular;
					letter-spacing: 0.025em;
				}
			}
		}
		.profile_statistic {
			width: 100%;
			padding: 35px 6.25% 10px;
			box-sizing: border-box;
			display: inline-block;
			li {
				display: inline-block;
				float: left;
				width: 33%;
				text-align: center;
				p {
					font-family: $lmedium;
					&:first-child {
						color: $white;
						font-size: 25px;
						letter-spacing: 0.02em;
						padding-bottom: 8px;
					}
					&:last-child {
						color: #93cdd3;
						font-size: 9px;
						letter-spacing: 0.3em;
						text-transform: uppercase;
					}
				}
			}
		}
		.addOrRevenge {
			width: 100%;
			box-sizing: border-box;
			padding: 32px 9.38% 0px;
			display: inline-block;
			li {
				width: 50%;
				float: left;
				text-align: center;
				display: inline-block;
				box-sizing: border-box;
				&:first-child {
					border-right: 1px solid rgba(#c9d2f4,.07);
				}
				a {
					display: inline-block;
					text-decoration: none;
					width: 100%;
					i {
						position: relative;
						font-size: 32px;
						&.icon-uEA86-cup {
							color: #43efcd;
						}
						&.icon-uEA87-help {
							color: #f3c358;
						}
						sub {
							position: absolute;
							top: -10px;
							right: -20px;
							font-size: 14px;
							letter-spacing: 0.02em;
							font-family: $lmedium;
						}
					}
					p {
						font-family: $lmedium;
						letter-spacing: 0.244em;
						font-size: 10px;
						color: #93cdd3;
						padding-top: 15px;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}