#main_settings {
	@include background-image(linear-gradient(70deg, #0b232f -28.97%, #0c2e40 42.79%, #13616b 109.03%));
	.gameScreenActiveMain {
		ul {
			padding-bottom: 20px;
			li {
				height: 61px;
				border-bottom: 1px solid rgba(#c8d1f4, 0.1);
				&.listviewPremium {
					border-top: 1px solid #918d6b;
					border-bottom: 1px solid #918d6b;
					a {
						color: #ebc17e;
					}
				}
				a {
					box-sizing: border-box;
					padding: 0 9.38% 0 6.25%;
					display: inline-block;
					text-decoration: none;
					color: $white;
					width: 100%;
					font-size: 14px;
					line-height: 61px;
					font-family: $lmedium;
					letter-spacing: 0.025em;
					i {
						&:first-child {
							margin-right: 18px;
						}
						&.icon-uEA54-next-vopros {
							float: right;
							margin-top: 23px;
						}
					}
				}
				.toggle {
					position: relative;
					+ .musicOnOff {
						display: none;
					}
					a i:last-child {
						border: 1px solid #375a64;
						float: right;
						position: relative;
						display: inline-block;
						width: 47px;
						height: 21px;
						margin-top: 23px;
						background-color: transparent;
						@include border-radius(10px);
						@include transition(all 0.25s);
						&:after {
							content: "";
							width: 19px;
							height: 19px;
							position: absolute;
							top: 0.1em;
							left: 0.15em;
							@include border-radius(50%);
							@include transition(all 0.25s);
							background-color: $white;
						}
					}
					&.ui-checkbox-off a i:last-child {
						background-color: transparent;
						&:after {
							margin-left: 23px;
							background-color: #40e6c6;
						}
					}
				}
			}
		}
	}
}