.input-group {
    position: relative;
    label.active {
        top: -10px;
        font-size: 9px;
        color: $text_green;
    }
    span.bar.active:after,
    span.bar.active:before {
        width: 50%;
    }
    span.highlight.active {
        @include animation(inputHighlighter 0.3s ease);
    }
    input {
        display: block;
        min-height: 25px;
        color: $white;
        background-color: transparent;
        width: 100%;
        font-size: 12px;
        border: none;
        border-bottom: 1px solid lighten($border_green, 10%);
        &:focus {
            outline: none;
        }
        &:focus ~ #forgot_password {
            top: -10px;
        }




    }


    label {
        color: lighten($text_green, 10%);
        font-size: 9px;
        font-family: $lsemi;
        position: absolute;
        width: 100%;
        pointer-events: none;
        top: 10px;
        @include transition( all .5s ease);
    }
    .bar {
        position: relative;
        display: block;
        width: 100%;

        &:after,
        &:before {
            content: '';
            height: 1px;
            width: 0;
            bottom: 0px;
            position: absolute;
            background: $border_green;
            @include transition (all .5s ease);
        }

        &:before {
            left: 50%;
        }

        &:after {
            right: 50%;
        }
    }
    .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }
    #forgot_password {
        text-decoration: none;
        color: $input_green;
        font-size: 9px;
        font-family: $lsemi;
        position: absolute;
        top: 10px;
        right: 0;
        @include transition( all .5s ease);
        z-index: 100;
    }
}
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: $border_green;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@-moz-keyframes inputHighlighter {
    from {
        background: $border_green;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@keyframes inputHighlighter {
    from {
        background: $border_green;
    }
    to {
        width: 0;
        background: transparent;
    }
}
