@import "compass/reset";
@import "compass";


// jQuery Mobile
@import "plugins/jquery-mobile.min";
@import "plugins/modal";
// Fonts
@import "assets/fonts";
@import "assets/icons";

$lback: 'latoblack';
$lbold: 'latobold';
$lheavy: 'latoheavy';
$lmedium: 'latomedium';
$lregular: 'latoregular';
$lsemi: 'latosemibold';
// Fonts off

//Colors
@import "assets/colors";
//Colors off

//Global
@import "assets/global";
//Global off

// Forms
@import "assets/forms";
// Forms off

// Buttons
@import "assets/buttons";
// Buttons Off

// Global
body {
  @include background-image(linear-gradient(70deg, #0b232f -28.97%, #0c2e40 42.79%, #13616b 109.03%));
}
.globalNav {
  border-bottom: 1px solid rgba(201,210,244,0.07);
  a#game_complete_click {
    font-size: 20px;
    color: #93cdd3;
  }
}

/*===============================
=            FullNav            =
===============================*/

#fullNav {
  position: fixed;
  width: 100%;
  z-index: 1000000;
  left: 0;
  top: -6px;
  margin: 0;
  padding: 0;
  li {
    float: left;
    text-align: center;
    margin: 0 1.5px;
    overflow: hidden;
    display: inline-block;
    a {
      width: 10px;
      background-color: #f00;
      height: 10px;
      text-decoration: none;
      font-size: 10px;
      line-height: 10px;
      color: white;
      display: inline-block;
    }
  }
}

/*=====  End of FullNav  ======*/

// Off Global
// Page Section
@import "sections/navbar";
@import "sections/tabs";
@import "sections/globalNav";
@import "sections/playerList";
@import "sections/gameComplete";
@import "sections/vopros";
@import "sections/gameScreeComplete";

@import "all/gameScreenActiveMainScore";
@import "all/gameScreenActiveMainRounds";
@import "all/gameScreenActiveFooter";
@import "all/passwordLost";
@import "all/subject";
@import "all/questionCategory";
@import "all/gameFinalResult";
@import "all/searchRival";
@import "all/mainSettings";
@import "all/friends";
@import "all/friendsRequest";
@import "all/profile";
@import "all/anoterProfile";

//Registration Page
.wrapper {
    max-width: 68.75%;
    width: 100%;
    margin: 0 auto;
}
// Страница Режима Гостя
.tab_guest_title {
  text-align: center;
  width: 100%;
  min-height: 4%;
  line-height: 4;
  #go_back {
    color: $text_green;
    text-decoration: none;
    padding-left: 5%;
    position: absolute;
    left: 0;
  }
  p {
    display: inline-block;
    font-family: $lbold;
    color: $text_green;
    text-transform: uppercase;
  }
}
.tab_guest_content {
	padding-top: 30%;
	i {
		color: $text_green;
		font-size: 550%;
	}

	p {
		font-size: 13px;
		font-family: $lmedium;
		color: $white;
		letter-spacing: 0.025em;
		line-height: 20.5px;
		padding-top: 3%;
	}
}
#tab-1 {
  display: block;
}
.tabs-menu {
    padding: 8% 0 13%;
    font-size: 12px;
     li.current a {
      position: relative;
       &:after {
        content: '';
        position: absolute;
        display: inline-block;
        left: 0;
        bottom: -10px;
        width: 100%;
        height: 2px;
        background-color: $light_green;
      }
    }
  }
