$white: #fff;
$black: #000;

//Red
$red: #f00;
$light_red: #fc4d6a;

//Green
$green: #1dcb9c;
$input_green: #3e8592;
$light_green: #40e6c7;
$text_green: #93cdd3;
$ico_green: #76b9ba;
$border_green: #375761;
$green_true: #4bddb6;

//Blue
$blue: #0f2a38;
$vk: #20647d;
$fb: #245171;
$border_blue: rgba(#c9d2f4, .1);
$text_blue: #4e6a7b;

//Orange
$orange: #ebc17e;
$dark_orange: #928d6b;
$gold_orange: #f1d273;
$orange_border: #fec958;
$text_orange: #f3c358;

//Grey
$grey: #edf2f8;
$border_grey: #dce4ed;
$scroll_grey: #d8dfe7;
$scroll_grey_underline: #f1f3f6;
$placeholder: #bacadc;

//Black
$input_shadow: rgba(#091015, .83);
$dark_black: #2a2a2a;
