@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?rud6c6');
  src:  url('../fonts/icomoon.eot?rud6c6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rud6c6') format('truetype'),
    url('../fonts/icomoon.woff?rud6c6') format('woff'),
    url('../fonts/icomoon.svg?rud6c6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uEAC1-case:before {
  content: "\e900";
}
.icon-uEACB-seif:before {
  content: "\e901";
}
.icon-uEA0A-study:before {
  content: "\e902";
}
.icon-uEA09-sound:before {
  content: "\e903";
}
.icon-uEAC9-ranez:before {
  content: "\e904";
}
.icon-uEAD2-guest:before {
  content: "\e905";
}
.icon-uEA03-bucket:before {
  content: "\e906";
}
.icon-uEACA-rukzak:before {
  content: "\e907";
}
.icon-uEACF-wallet:before {
  content: "\e908";
}
.icon-uEA05-buy-pro:before {
  content: "\e909";
}
.icon-uEA07-options:before {
  content: "\e90a";
}
.icon-uEAC8-portfel:before {
  content: "\e90b";
}
.icon-uEA06-creators:before {
  content: "\e90c";
}
.icon-uEAD5-cart-tab:before {
  content: "\e90d";
}
.icon-uEAD7-play-tab:before {
  content: "\e90e";
}
.icon-uEA08-reset-buy:before {
  content: "\e90f";
}
.icon-uEAC3-meshochek:before {
  content: "\e910";
}
.icon-uEAD0-fb-circle:before {
  content: "\e911";
}
.icon-uEAD1-guest-big:before {
  content: "\e912";
}
.icon-uEAD3-vk-circle:before {
  content: "\e913";
}
.icon-uEAC2-coin_usual:before {
  content: "\e914";
}
.icon-uEADB-rating-tab:before {
  content: "\e915";
}
.icon-uEAC0-share-green:before {
  content: "\e916";
}
.icon-uEACE-ticket-good:before {
  content: "\e917";
}
.icon-uEAD9-profile-tab:before {
  content: "\e918";
}
.icon-uEA01-add-question:before {
  content: "\e919";
}
.icon-uEACC-super-rukzak:before {
  content: "\e91a";
}
.icon-uEADD-settings-tab:before {
  content: "\e91b";
}
.icon-uEA04-buy-pro-usual:before {
  content: "\e91c";
}
.icon-uEAAF-filter-rating:before {
  content: "\e91d";
}
.icon-uEAD4-cart-tab-active:before {
  content: "\e91e";
}
.icon-uEAD6-play-tab-active:before {
  content: "\e91f";
}
.icon-uEA02-block-theme-sett:before {
  content: "\e920";
}
.icon-uEADA-rating-tab-active:before {
  content: "\e921";
}
.icon-uEAD8-profile-tab-active:before {
  content: "\e922";
}
.icon-uEACD-ticket-balance-shop:before {
  content: "\e923";
}
.icon-uEADC-settings-tab-active:before {
  content: "\e924";
}
.icon-uEAAE-filter-rating-active:before {
  content: "\e925";
}
.icon-uEA9E-fb:before {
  content: "\e926";
}
.icon-uEAA1-vk:before {
  content: "\e927";
}
.icon-uEA1B-eng:before {
  content: "\e928";
}
.icon-uEA1C-fra:before {
  content: "\e929";
}
.icon-uEA1D-geo:before {
  content: "\e92a";
}
.icon-uEA1E-ger:before {
  content: "\e92b";
}
.icon-uEA19-bio:before {
  content: "\e92c";
}
.icon-uEA21-lit:before {
  content: "\e92d";
}
.icon-uEA24-rus:before {
  content: "\e92e";
}
.icon-uEA25-soc:before {
  content: "\e92f";
}
.icon-uEA86-cup:before {
  content: "\e930";
}
.icon-uEA1A-chem:before {
  content: "\e931";
}
.icon-uEA20-info:before {
  content: "\e932";
}
.icon-uEA22-math:before {
  content: "\e933";
}
.icon-uEA23-phys:before {
  content: "\e934";
}
.icon-uEA26-span:before {
  content: "\e935";
}
.icon-uEA37-lose:before {
  content: "\e936";
}
.icon-uEA38-more:before {
  content: "\e937";
}
.icon-uEA3C-Chat:before {
  content: "\e938";
}
.icon-uEA42-back:before {
  content: "\e939";
}
.icon-uEA46-flag:before {
  content: "\e93a";
}
.icon-uEA6F-back:before {
  content: "\e93b";
}
.icon-uEA74-exit:before {
  content: "\e93c";
}
.icon-uEA78-plus:before {
  content: "\e93d";
}
.icon-uEA79-send:before {
  content: "\e93e";
}
.icon-uEA7B-Chat:before {
  content: "\e93f";
}
.icon-uEA81-Chat:before {
  content: "\e940";
}
.icon-uEA84-back:before {
  content: "\e941";
}
.icon-uEA87-help:before {
  content: "\e942";
}
.icon-uEA88-back:before {
  content: "\e943";
}
.icon-uEA93-back:before {
  content: "\e944";
}
.icon-uEA95-cart:before {
  content: "\e945";
}
.icon-uEA9D-exit:before {
  content: "\e946";
}
.icon-uEA9F-next:before {
  content: "\e947";
}
.icon-uEA99-back:before {
  content: "\e948";
}
.icon-uEAA8-back:before {
  content: "\e949";
}
.icon-uEAAA-edit:before {
  content: "\e94a";
}
.icon-uEA43-blits:before {
  content: "\e94b";
}
.icon-uEA52-Error:before {
  content: "\e94c";
}
.icon-uEA58-vopros:before {
  content: "\e94d";
}
.icon-uEA76-notify:before {
  content: "\e94e";
}
.icon-uEA77-pencil:before {
  content: "\e94f";
}
.icon-uEA7F-search:before {
  content: "\e950";
}
.icon-uEA8C-helmet:before {
  content: "\e951";
}
.icon-uEAAB-filter:before {
  content: "\e952";
}
.icon-uEA1F-history:before {
  content: "\e953";
}
.icon-uEA3A-buy-pro:before {
  content: "\e954";
}
.icon-uEA3B-play-ad:before {
  content: "\e955";
}
.icon-uEA92-50_help:before {
  content: "\e956";
}
.icon-uEAA9-details:before {
  content: "\e957";
}
.icon-uEA44-bow-game:before {
  content: "\e958";
}
.icon-uEA4E-ad-rolik:before {
  content: "\e959";
}
.icon-uEA67-cup-user:before {
  content: "\e95a";
}
.icon-uEA8D-lock-nag:before {
  content: "\e95b";
}
.icon-uEA98-zal_help:before {
  content: "\e95c";
}
.icon-uEAC6-done-buy:before {
  content: "\e95d";
}
.icon-uEA0B-bio-start:before {
  content: "\e95e";
}
.icon-uEA0E-eng-start:before {
  content: "\e95f";
}
.icon-uEA0F-fra-start:before {
  content: "\e960";
}
.icon-uEA10-geo-start:before {
  content: "\e961";
}
.icon-uEA14-lit-start:before {
  content: "\e962";
}
.icon-uEA16-rus-start:before {
  content: "\e963";
}
.icon-uEA17-soc-start:before {
  content: "\e964";
}
.icon-uEA4F-coin-sign:before {
  content: "\e965";
}
.icon-uEA50-key-modal:before {
  content: "\e966";
}
.icon-uEA53-empty_doc:before {
  content: "\e967";
}
.icon-uEA66-chat-user:before {
  content: "\e968";
}
.icon-uEA68-lock-stat:before {
  content: "\e969";
}
.icon-uEA6E-add-users:before {
  content: "\e96a";
}
.icon-uEA8E-rus-medal:before {
  content: "\e96b";
}
.icon-uEA89-check-nag:before {
  content: "\e96c";
}
.icon-uEA90-star-gold:before {
  content: "\e96d";
}
.icon-uEA91-star-line:before {
  content: "\e96e";
}
.icon-uEA94-bomb_help:before {
  content: "\e96f";
}
.icon-uEAA2-fb-circle:before {
  content: "\e970";
}
.icon-uEAA4-vk-circle:before {
  content: "\e971";
}
.icon-uEA0D-chem-start:before {
  content: "\e972";
}
.icon-uEA13-info-start:before {
  content: "\e973";
}
.icon-uEA15-phis-start:before {
  content: "\e974";
}
.icon-uEA36-add_friend:before {
  content: "\e975";
}
.icon-uEA4A-request-no .path1:before {
  content: "\e976";
  color: rgb(25, 63, 81);
  opacity: 0.6;
}
.icon-uEA4A-request-no .path2:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(99, 132, 135);
  opacity: 0.5;
}
.icon-uEA4A-request-no .path3:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-uEA57-succes-msg:before {
  content: "\e979";
}
.icon-uEA63-timer-sign:before {
  content: "\e97a";
}
.icon-uEA65-block-user:before {
  content: "\e97b";
}
.icon-uEA85-coin_usual:before {
  content: "\e97c";
}
.icon-uEA8B-circle-nag:before {
  content: "\e97d";
}
.icon-uEA96-clock_help:before {
  content: "\e97e";
}
.icon-uEA97-top50_help:before {
  content: "\e97f";
}
.icon-uEAA5-arrow-down:before {
  content: "\e980";
}
.icon-uEAAD-share-stat:before {
  content: "\e981";
}
.icon-uEAB0-bio-rating:before {
  content: "\e982";
}
.icon-uEAB3-eng-rating:before {
  content: "\e983";
}
.icon-uEAB4-fra-rating:before {
  content: "\e984";
}
.icon-uEAB5-geo-rating:before {
  content: "\e985";
}
.icon-uEAB9-lit-rating:before {
  content: "\e986";
}
.icon-uEABD-rus-rating:before {
  content: "\e987";
}
.icon-uEABE-soc-rating:before {
  content: "\e988";
}
.icon-uEA39-share-itogi:before {
  content: "\e989";
}
.icon-uEA3D-Chat_active:before {
  content: "\e98a";
}
.icon-uEA4B-request-yes .path1:before {
  content: "\e98b";
  color: rgb(25, 63, 81);
  opacity: 0.6;
}
.icon-uEA4B-request-yes .path2:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-uEA4B-request-yes .path3:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(99, 132, 135);
  opacity: 0.5;
}
.icon-uEA47-friend-game:before {
  content: "\e98e";
}
.icon-uEA49-random-user:before {
  content: "\e98f";
}
.icon-uEA54-next-vopros:before {
  content: "\e990";
}
.icon-uEA55-prev-vopros:before {
  content: "\e991";
}
.icon-uEA69-swords-user:before {
  content: "\e992";
}
.icon-uEA7A-users-group:before {
  content: "\e993";
}
.icon-uEA7C-Chat_active:before {
  content: "\e994";
}
.icon-uEA7E-chat-friend:before {
  content: "\e995";
}
.icon-uEA82-Chat_active:before {
  content: "\e996";
}
.icon-uEA8F-share-green:before {
  content: "\e997";
}
.icon-uEAAC-scroll-down:before {
  content: "\e998";
}
.icon-uEAB2-chem-rating:before {
  content: "\e999";
}
.icon-uEAB8-info-rating:before {
  content: "\e99a";
}
.icon-uEABA-main-rating:before {
  content: "\e99b";
}
.icon-uEABB-math-rating:before {
  content: "\e99c";
}
.icon-uEABC-phys-rating:before {
  content: "\e99d";
}
.icon-uEABF-span-rating:before {
  content: "\e99e";
}
.icon-uEA51-ticket-modal:before {
  content: "\e99f";
}
.icon-uEA6C-check-avatar:before {
  content: "\e9a0";
}
.icon-uEA71-check-person:before {
  content: "\e9a1";
}
.icon-uEA75-group-avatar .path1:before {
  content: "\e9a2";
  color: rgb(64, 230, 199);
  opacity: 0.1;
}
.icon-uEA75-group-avatar .path2:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(64, 230, 199);
}
.icon-uEA75-group-avatar .path3:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(64, 230, 199);
}
.icon-uEA75-group-avatar .path4:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(64, 230, 199);
}
.icon-uEA75-group-avatar .path5:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(64, 230, 199);
}
.icon-uEA75-group-avatar .path6:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(64, 230, 199);
}
.icon-uEA75-group-avatar .path7:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(64, 230, 199);
}
.icon-uEA8A-chemic-medal:before {
  content: "\e9a9";
}
.icon-uEA9B-edite-avatar:before {
  content: "\e9aa";
}
.icon-uEAB1-blitz-rating:before {
  content: "\e9ab";
}
.icon-uEA11-germany-start:before {
  content: "\e9ac";
}
.icon-uEA12-history-start:before {
  content: "\e9ad";
}
.icon-uEA18-spanish-start:before {
  content: "\e9ae";
}
.icon-uEA48-plus_new-game:before {
  content: "\e9af";
}
.icon-uEA56-share-results:before {
  content: "\e9b0";
}
.icon-uEA6D-circle-avatar:before {
  content: "\e9b1";
}
.icon-uEA70-chat-settings:before {
  content: "\e9b2";
}
.icon-uEA72-circle-person:before {
  content: "\e9b3";
}
.icon-uEA80-swords-friend:before {
  content: "\e9b4";
}
.icon-uEA9A-chat-settings:before {
  content: "\e9b5";
}
.icon-uEAA7-arrow-regress:before {
  content: "\e9b6";
}
.icon-uEA45-close_new-game:before {
  content: "\e9b7";
}
.icon-uEA9C-edite-nickname:before {
  content: "\e9b8";
}
.icon-uEAA0-open-statistic:before {
  content: "\e9b9";
}
.icon-uEAA6-arrow-progress:before {
  content: "\e9ba";
}
.icon-uEAB6-germany-rating:before {
  content: "\e9bb";
}
.icon-uEAB7-history-rating:before {
  content: "\e9bc";
}
.icon-uEA64-add-friend-user:before {
  content: "\e9bd";
}
.icon-uEA73-edite_chat-name:before {
  content: "\e9be";
}
.icon-uEAA3-telegram-circle:before {
  content: "\e9bf";
}
.icon-uEAC5-coin-cost-modal:before {
  content: "\e9c0";
}
.icon-uEA4C-search-user-game:before {
  content: "\e9c1";
}
.icon-uEA7D-Settings-profile:before {
  content: "\e9c2";
}
.icon-uEA83-Settings-profile:before {
  content: "\e9c3";
}
.icon-uEA4D-ticket-piece-game:before {
  content: "\e9c4";
}
.icon-uEAC4-coin-chance-modal:before {
  content: "\e9c5";
}
.icon-uEA0C-blits-start-zapas:before {
  content: "\e9c6";
}
.icon-uEAC7-ticket-chance-modal:before {
  content: "\e9c7";
}
.icon-uEA6B-change-avatar-premium:before {
  content: "\e9c8";
}
.icon-uEA6A-change-avatar-available:before {
  content: "\e9c9";
}
.icon-uEA2D-draw:before {
  content: "\e9ca";
}
.icon-uEA2F-lose:before {
  content: "\e9cb";
}
.icon-uEA32-quick:before {
  content: "\e9cc";
}
.icon-uEA33-random:before {
  content: "\e9cd";
}
.icon-uEA5A-50-tab:before {
  content: "\e9ce";
}
.icon-uEA35-victory:before {
  content: "\e9cf";
}
.icon-uEA62-zal-tab:before {
  content: "\e9d0";
}
.icon-uEA2C-complate:before {
  content: "\e9d1";
}
.icon-uEA5C-bomb-tab:before {
  content: "\e9d2";
}
.icon-uEA2E-every-day:before {
  content: "\e9d3";
}
.icon-uEA29-big-count:before {
  content: "\e9d4";
}
.icon-uEA5E-clock-tab:before {
  content: "\e9d5";
}
.icon-uEA60-top50-tab:before {
  content: "\e9d6";
}
.icon-uEA2B-coin_usual:before {
  content: "\e9d7";
}
.icon-uEA59-50-tab-non:before {
  content: "\e9d8";
}
.icon-uEA34-swords-lose:before {
  content: "\e9d9";
}
.icon-uEA3F-friend-game:before {
  content: "\e9da";
}
.icon-uEA61-zal-tab-non:before {
  content: "\e9db";
}
.icon-uEA2A-block-themes:before {
  content: "\e9dc";
}
.icon-uEA5B-bomb-tab-non:before {
  content: "\e9dd";
}
.icon-uEA5D-clock-tab-non:before {
  content: "\e9de";
}
.icon-uEA5F-top50-tab-non:before {
  content: "\e9df";
}
.icon-uEA28-add-friend-win:before {
  content: "\e9e0";
}
.icon-uEA27-add-friend-lose:before {
  content: "\e9e1";
}
.icon-uEA3E-chat-search-user:before {
  content: "\e9e2";
}
.icon-uEA40-search-user-game:before {
  content: "\e9e3";
}
.icon-uEA41-swords-search-user:before {
  content: "\e9e4";
}
.icon-uEA31-krone:before {
  content: "\e9e5";
}
.icon-uEA30-finger-down:before {
  content: "\e9e6";
}
