#global_nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $white;
    ul {
        list-style-type: none;
        display: inline-block;
        width: 100%;
        li {
            width: 20%;
            float: left;
            text-align: center;
            a {
                width: 100%;
                display: inline-block;
                text-decoration: none;
                i {
                    font-size: 22px;
                    color: $dark_black;
                    line-height: 50px;
                }
            }
            &.main {
                a {
                    position: relative;
                    &:before {
                        content: '';
                        display: inline-block;
                        width: 100%;
                        height: 77px;
                        background-color: $white;
                        position: absolute;
                        top: -15px;
                        left: 0;
                        @include border-radius(50%);
                    }
                    i {
                        @include background(linear-gradient(#2082c8, #3dd38d));
                        @include background-clip(text);
                        -webkit-text-fill-color: transparent;
                        font-size: 40px;
                        position: relative;
                        z-index: 1;
                        top: -6px;
                    }
                }
            }
        }
    }
}
