.navbar {
    width: 100%;
    padding: 30px 5% 13px;
    box-sizing: border-box;
    text-align: center;
    ul {
        list-style-type: none;
        &.navbar-left {
            float: left;
            li {
                a {
                    color: $text_green;
                }
            }
        }
        &.navbar-center {
            display: inline-block;
            li {
                span {
                    color: $input_green;
                    font-family: $lsemi;
                    font-size: 12px;
                    text-transform: uppercase;
                }
            }
        }
        &.navbar-right {
            float: right;
            li {
                a {
                    color: $light_green;
                }
            }
        }
        li {
            display: inline-block;
            a {
                text-transform: uppercase;
                text-decoration: none;
                i {

                }
            }
        }
    }
}

.new_game_nav {
    @include background-image(linear-gradient(50deg, #1c8a94 0%, #0eafa9 100%));
    h4 a {
        position: relative;
        text-decoration: none;
        display: inline-block;
        padding: 17px 10%;
        width: 100%;
        box-sizing: border-box;
        color: $white;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.12em;
        font-family: $lmedium;
        text-align: center !important;
        width: 100%;
        line-height: 18px;
        position: relative;
        i {
            font-size: 20px;
            position: relative;
            top: 4px;
            margin-right: 5px;
        }
    }
    .ui-collapsible-content {
        z-index: 2;
        position: absolute;
        width: 100%;
        left: 0;
        background-color: rgba(#061d2b, 1);
        ul.ui-listview {
            box-sizing: border-box;
            border: none;
            li {
                position: relative;
                border-bottom: 1px solid rgba($orange_border, .07);
                padding: 20px 0;
                &:last-child {
                    border-bottom:none;
                }
                &.random_user {
                    a {
                        color: $light_green;
                        span {
                            font-family: $lmedium;
                        }
                    }
                }
                &.blic {
                    a {
                        color: $gold_orange;
                    }
                    .blic_coupon {
                        position: absolute;
                        right: -5px;
                        padding-top: 20px;
                        span {
                            font-size: 14px;
                            position: relative;
                            top: -8px;
                        }
                        i {
                            font-size: 30px;
                            margin-right: 0;
                        }
                    }
                }
                a {
                    padding: 0 10%;
                    display: inline-block;
                    width: 100%;
                    box-sizing: border-box;
                    text-decoration: none;
                    font-size: 11px;
                    color: $text_green;
                    font-family: $lregular;
                    letter-spacing: 0.137em;
                    text-transform: uppercase;
                    i {
                        font-size: 20px;
                        margin-right: 20px;
                    }
                    span {
                        position: relative;
                        top: -5px;
                        &:first-child {
                            font-size: 11px;
                        }
                        &.blic_coupon {

                            i {

                            }
                        }
                    }
                }
            }
        }
    }
}
.ui-collapsible-themed-content .ui-collapsible-heading a {
    margin-left: 0!important;
    i {
        margin-right: 5px;
    }
}
.ui-collapsible-heading-status {
    position: absolute;
    left: 0px;
    top: 17px;
    font-size: 0px;
}
.ui-collapsible-themed-content {

    .ui-collapsible-heading a {
        text-align: left !important;
        margin-left: 43px;
    }
}
.ui-collapsible-collapsed {
    .ui-collapsible-heading a {
        text-align: center !important;
        margin-left: 0;


    }
    // .ui-collapsible-heading-status:before{
    //     content: '\e93d'!important;
    //     margin-left: 380%;
    // }
}
