#tabs {
	position: relative;
	.tabs-menu {
		padding: 0;
		width: 100%;
	}
	.tab_content {
		display: block;
	}
	.tab-buttons {
		width: 82%;
		margin: 0 auto;
	}
	#active_game {
		padding: 0;
	}
}

.navanimation {
	position: relative;
	margin: 0;
	padding: 0;
	display: inline-block;
	li {
		float: left;
		list-style: none;
		&:last-child {
			float: right;
			&.ui-tabs-active a {
				color: $white;
				span {
					color: $text_orange;
				}
			}
		}
		&:nth-child(2) {
			&.ui-tabs-active a {
				color: $white;
				letter-spacing: 0.12em;
				span {
					color: $light_green!important;
				}
			}
		}
		a {
			font-weight: bold;
			position: relative;
			z-index: 1;
			top: 0;
			@include transition(all .4s ease);
			line-height: 60px;
			display: block;
			float: left;
			text-align: left;
			text-decoration: none;
			text-transform: uppercase;
			color: $text_green;
			font-size: 12px;
			letter-spacing: 0.12em;
			font-family: $lbold;
			outline: none;
			span {
				font-family: $lmedium;
				color: $text_green;
			}
		}
	}
}

.backLava {
	border-top: 2px solid $light_green;
	top: inherit !important;
	bottom: 12px;
	height: 2px !important;
	@include transition(border .4s ease);
}
.backLava2 {
	@extend .backLava;
	border-top: 2px solid $text_orange;
}
