#vopros {
    padding-bottom: 0 !important;
    height: 100%;
    @media screen and (max-height: 567px) {
        margin-bottom: 63px + 29px;
    }
    .navbar {
        background: url(../img/game/header_tr.png) repeat-x left top;
        position: relative;
        z-index: 1;
        min-height: 63px;
        position: absolute;
        top: 0;
        left: 0;
        .navbar-left li {
            margin: 0 4px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        .game_status {
            display: inline-block;
            width: 10px;
            height: 10px;
            @include border-radius(50%);
            @include background-clip(padding-box);
            border: 2px solid transparent;
            box-shadow: 0 0 0px 1px white;
            position: relative;
            &.game_status_true {
                @include border-radius(50%);
                @include background-clip(padding-box);
                background-color: #43efcd;

            }
            &.game_status_false {
                @include border-radius(50%);
                @include background-clip(padding-box);
                background-color: #fb4d69;

            }
        }
        .timer {
        position: relative;
            #timer_inp,
            #timer_inp2 {
                font-family: $lsemi;
                color: $white;
                font-size: 16px;
                position: absolute;
                top: 0;
                right: 0;
            }
            i.icon-uEA63-timer-sign {
                position: absolute;
                top: 2px;
                color: $white;
                font-size: 4px;
            }
        }
    }
    .gameContent {
        .game_image {
            position: relative;
            width: 100%;
            height: 38.91%;
            img {
                width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
            .game_version {
                position: absolute;
                display: inline-block;
                bottom: -8px;
                height: 16px;
                width: 12.50%;
                left: 50%;
                margin-left: -6.25%;
                background-color: #a7c3d5;
                @include border-radius(8px);
                p {
                    font-family: $lheavy;
                    color: $white;
                    font-size: 9px;
                    line-height: 16px;
                    text-transform: uppercase;
                }
            }
        }
        .game_section {
            padding: 0 3.13%;
            .game_question {
                height: 88px;
                display: table;
                width: 100%;
                @media screen and (max-height: 567px) {
                    height: 88px !important;
                }
                p {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    font-family: $lmedium;
                    font-size: 13px;
                    color: $text_blue;
                    letter-spacing: 0.025em;
                    line-height: 20px;

                }
            }
            .game_answer {
                width: 100%;
                display: inline-block;
                .game_answer_version {
                    float: left;
                    width: 48.33%;
                    display: table;
                    height: 80px;
                    @include border-radius(2px);
                    @include background-clip(padding-box);
                    background-color: $white;
                    @include box-shadow(0 0 4px rgba(168,190,204,.21));
                    box-sizing: border-box;
                    position: relative;
                    margin: 1.67%;
                    padding: 0 10px;
                    &:nth-child(even) {
                        margin-right: 0;
                    }
                    &:nth-child(odd) {
                        margin-left: 0;
                    }
                    p.game_answer_response {
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                        font-family: $lmedium;
                        font-size: 13px;
                        color: $text_blue;
                        letter-spacing: 0.025em;
                        line-height: 20px;
                    }
                    .answer_rival {
                        font-family: $lback;
                        font-size: 8px;
                        color: $light_red;
                        text-transform: uppercase;
                        letter-spacing: 0.15em;
                        position: absolute;
                        right: 0;
                    }
                    .answer_my {
                        @extend .answer_rival;
                        color: $green_true;
                    }
                    &:nth-child(-n+2) {
                        .answer_my,
                        .answer_rival {
                            top: -19px;
                        }
                        &.true {
                            border-top: 4px solid $green_true;
                        }
                    }
                    &:nth-child(n+3).true {
                        border-bottom: 4px solid $green_true;
                    }
                    &:nth-child(-n+2).false {
                        border-top: 4px solid $light_red;
                    }
                    &:nth-child(n+3) {
                        .answer_my,
                        .answer_rival {
                            bottom: -19px;
                        }
                        .false {
                            border-bottom: 4px solid $light_red;
                        }
                    }
                }
            }
        }
    }
}
#vopros_text {
    @extend #vopros;
    @media screen and (max-height: 567px) {
        margin-bottom: 0;
    }
    .navbar {
        @include background-image(linear-gradient(70deg, #0b232f -28.97%, #0c2e40 42.79%, #13616b 109.03%));
        ul {
            &:first-child {
                position: absolute;
            }
            &.navbar-center li span {
                font-family: $lsemi;
                font-size: 12px;
                text-transform: uppercase;
                color: $white;
                letter-spacing: 0.05em;
            }
        }
        .game_version {
            position: absolute;
            display: inline-block;
            height: 16px;
            padding: 0 15px;
            line-height: 16px;
            left: 50%;
            bottom: -16px;
            @include border-radius(0 0 8px 8px);
            background-color: #a7c3d5;
            p {
                font-size: 9px;
                font-family: $lheavy;
                color: $white;
                text-transform: uppercase;
            }

        }
    }
    .game_section {
        margin-top: 63px;
        .game_answer {
            padding: 8px 0;
            .game_answer_version {
                height: 105px !important;
            }
        }
    }
}
#vopros_text3 {
    @extend #vopros_text;
    @media screen and (max-height: 567px) {
        margin-bottom: 63px ;
    }
    .gameContent {
        .game_answer {
            .game_answer_version {
                width: 100%!important;
                padding: 0 10px!important;
                margin: 15px 0!important;
                height: 85px !important;
                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    padding-bottom: 0;
                }
                &:nth-child(-n+4).true,
                &:nth-child(-n+4).false {
                    border-top: 4px solid $green_true;
                    border-bottom: none !important;
                    .answer_my,
                    .answer_rival {
                        top: -19px;
                    }
                }
                &:nth-child(-n+4).false {
                    border-top: 4px solid $light_red!important;
                }
            }
        }
    }
}
